<% include ../partials/head.ejs %>
<% include ../partials/header.ejs %>
<link href="/../../../cms/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">All Contacts</h6>
    </div>
    <div class="card-body">
            <%- messages('message', locals) %>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Mobile</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>#</th>
                      <th>Mobile</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </tfoot>
                  <tbody>

                    <% cafes.forEach((element, key) => { %>
                        <tr>
                            <td><%- key+1  %></td>
                            <td><%- element.mobile  %></td>
                            <td><%- element.name  %></td>
                            <td><%- element.email  %></td>
                            <td><%-  element.status  %></td>
                            <td><div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-secondary">Edit</button>
                                <button type="button" class="btn btn-secondary">Deactive</button>
                              </div>
                            </td>
                          </tr>
                        <% }); %>
                   
                  </tbody>
                </table>
              </div>
            
      
    </div>
  </div>

  <% include ../partials/footer.ejs %>
  
    <!-- Page level plugins -->
    <script src="/../../../cms/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/../../../cms/vendor/datatables/dataTables.bootstrap4.min.js"></script>
  
      <!-- Page level custom scripts -->
      <script src="/../../../cms/js/demo/datatables-demo.js"></script>
</body>

</html>
