<% include partials/head.ejs %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <% include partials/jumbotron.ejs %>

        <% if(candidates=='' ){ %>

            <div style="text-align: center; font-size: 30px;" class="sidebar-brand-text mx-3">No Candidates are Active
                yet!</div>

            <% } else { %>


                <div style="text-align: center; font-size: 30px;" class="sidebar-brand-text mx-3">Select the Candidate
                    to Vote</div>


                <div class="container-fluid">
                    <div class="row">

                        <% candidates.forEach(candidate=> { %>
                            <div class="col-xl-3 col-md-6 mb-4">
                                <a href="/dashboard/add_cnic/<%-candidate._id %>/<%- ballot_id %>">
                                    <div class="card border-left-primary shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col">
                                                    <div
                                                        class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                        <%- candidate.name %>
                                                    </div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                        <%- candidate.symbol %>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
        <img style="width: 200px" class="img-responsive" src="../../uploads/<%- candidate.c_image[0] %>" alt="" srcset="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <% }) %>

                    </div>
                </div>

                <% } %>


<% include partials/footer.ejs %>