<% include ../partials/head.ejs %>

    <% include ../partials/header.ejs %>
  
<div class="container">
        <section class="pricing py-5">
                <div class="container">
                    <%- messages('message', locals) %>
                  <div class="row">
                    <!-- Free Tier -->
                    <% orders.forEach(function(order, index){ %>
                      <div class="col-lg-12">
                            <div class="card">
                                    <h5 class="card-header">Ad Package</h5>
                                    <div class="card-body">
                                      <h5 class="card-title">Price : $<%- order.price %></h5>

                                      <h5 class="card-title">Ad Pack : 

                                            <% for (var j = 0; j < packages.length; j++) { %>
                                                                    
                                                <% if(packages[j]._id==order.package_id){ %>
                                                    <%= packages[j].title  %>
                                                      <br>
                                                    Ads : <%= packages[j].ads %>
                                                <% } %>        
                                            <% }; %>
                                      </h5>
                                    <a href="/user/view/ad/<%- order._id %>" class="btn btn-primary">View Ads</a>
                                    </div>
                                  </div>
                      </div>
                    <% }); %>
                  </div>
                </div>
              </section>
</div>

<% include ../partials/footer.ejs %>


</body>            
</html>