    
<% include ../partials/head.ejs %>
            
<% include ../partials/header.ejs %>
           	<!-- begin::Body -->
               <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop m-page__container m-body">
                <div class="m-grid__item m-grid__item--fluid m-wrapper">

                        <div class="container-fluid">
                                <div class="m-portlet m-portlet--mobile">
                                    <div class="m-portlet__head">
                                        <div class="m-portlet__head-caption">
                                            <div class="m-portlet__head-title">
                                                <h3 class="m-portlet__head-text">
                                                    My Packages
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
        
                                        <!--begin: Datatable -->
                                        <table class="table table table-bordered" id="dataTable">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Order Id</th>
                                                    <th>Date</th>
                                                    <th>Total</th>
                                                    <th>Status</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                    <% packages.forEach(function(package, index){ %>
                                                <tr>
                                                    <td><%= (index + 1) %></td>
                                                    <td><h3 class="m--font-info"><%= package.order_id %></h3></td>
                                                    <td><%= moment(package.created).format('LL'); %></td>
                                                    <td>$<%= package.total %></td>
                                                    <td>
                                                            <% if(package.order_status == 'unpaid'){ %>
                                                                <span class="m-badge m-badge--warning m-badge--wide">Unpaid</span>
                                                            <% } if (package.order_status == 'pending') {%>    
                                                                <span class="m-badge m-badge--metal m-badge--wide">Pending Approvel</span>
                                                            <% } if (package.order_status == 'paid') {%>
                                                                <span class="m-badge m-badge--success m-badge--wide">Paid</span>
                                                            <% } if (package.order_status == 'cancelled') {%>
                                                                <span class="m-badge m-badge--danger m-badge--wide">Cancelled</span>
                                                            <% } %>
                                                    </td>
                                                    <td>
                                                    <div class="btn-group m-btn-group" role="group" aria-label="...">                
                                                        <% if(package.order_status == 'unpaid'){ %>
                                                            <a href="order/<%= package.order_id %>" class="btn btn-info">Pay Now</a>
                                                        <%} if(package.order_status == 'pending'){ %>
                                                                <a href="#" class="btn btn-info">View</a>
                                                        <% } if (package.order_status == 'unpaid') {%>    
                                                            <!-- <a href="cancel_order/<%= package.order_id %>" class="btn btn-danger">Cancel</a> -->
                                                        <% } if (package.order_status == 'paid') {%>
                                                            <a href="#" class="btn btn-info">View</a>
                                                        <% } %>            
                                                    </div>
                                                                

                                                    </td>
                                                </tr>
                                                <% }) %>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
        
                                <!-- END EXAMPLE TABLE PORTLET-->
                            </div>
				</div>
            </div>
           
			<!-- end:: Body -->
<% include ../partials/footer.ejs %>  
<script src="../../../assets/panel/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="../../../assets/panel/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<script>
        $(document).ready(function() {
            $("#orders-menu").addClass('m-menu__item--active  m-menu__item--active-tab');
        });

        $(document).ready(function() {
                $('#dataTable').DataTable();
            });

    </script>


    </body>
</html>