<% include ../partials/head.ejs %>
            
<% include ../partials/header.ejs %>
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="mb-4">
            <h1 class="h3 mb-0 text-gray-800">Trasactions</h1>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                            <table class="table table table-bordered" id="dataTable" width="100%">
                                    <thead>
                                        <tr>
                                            <th title="Field #1" data-field="index">#</th>
                                            <th title="Field #2" data-field="Date">Date</th>
                                            <th title="Field #3" data-field="Address">Address</th>
                                            <th title="Field #4" data-field="Status">Status</th>
                                            <th title="Field #5" data-field="Type">Type</th>
                                            <th title="Field #6" data-field="Amount">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% transactions.forEach(function(trans, index){ %>
                                            <tr>
                                                <td>
                                                    <%= (index + 1) %>
                                                </td>
                                                <td>
                                                    <%= moment.unix((trans.date/1000)).format('LL') %>
                                                </td>
                                                <td>
                                                    <%= trans.address %>
                                                </td>
                                                <td>
                                                    <%= trans.trans_type %>
                                                </td>
                                                <td>
                                                    <%= trans.trans_status %>
                                                </td>
                                                <td>$
                                                    <% amount = trans.amount != null  ?  trans.amount : 0; %>
                                                        <%= amount.toFixed(2); %>
                                                </td>
                                            </tr>
                                            <% }); %>
                                    </tbody>
                                </table>
                    </div>
                </div>

            </div>
          </div>

        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <% include ../partials/footer.ejs %>
      <script src="../../../assets/panel/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="../../../assets/panel/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<script>
        $(document).ready(function() {
            $("#orders-menu").addClass('m-menu__item--active  m-menu__item--active-tab');
        });

        $(document).ready(function() {
                $('#dataTable').DataTable();
            });

    </script>


</body>

</html>
