<% include ../partials/head.ejs %>

    <% include ../partials/header.ejs %>


        <!-- begin::Body -->
        <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop m-page__container m-body">
            <div class="m-grid__item m-grid__item--fluid m-wrapper">
                
                <div class="m-content">
                    <div class="row">
                       <% if(true) { %>
                        
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6">

                            <!--begin::Portlet-->
                            <div class="m-portlet">
                                <%- messages('message', locals) %>

                                    <!--begin::Form-->
                                    <form method="POST" action="/user/wallet/request" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                                        <div class="m-portlet__body">
                                            <div class="m-widget1">
                                                <div class="m-widget1__item">
                                                    <div class="row m-row--no-padding align-items-center">
                                                        <div class="col">
                                                            <h3 class="m-widget1__title">Account Balance:</h3>

                                                        </div>
                                                        <div class="col m--align-right">
                                                            <span class="m-widget1__number m--font-brand">$<%= (user.balance).toFixed(2) %></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div id="roiBlockDiv2" style="padding : 5px !important; display: none" class="m-widget1__item">
                                                    <div class="row m-row--no-padding align-items-center">
                                                        <div class="col">
                                                            <span class="m--font-bold">Withdrawable Balance:</span>

                                                        </div>
                                                        <div class="col m--align-right">
                                                            <span class=" m--font-brand">$<%= // (user.balance - totalRoi).toFixed(2) %></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="hidden" id="accountBalance" value="<%= user.balance %>">

                                            </div>
                                            <div id="reqStatusNeg"></div>
                                            <% if(false ){ %>
                                                <div class="m-alert m-alert--icon alert alert-warning" role="alert">
                                                    <div class="m-alert__icon">
                                                        <i class="flaticon-danger"></i>
                                                    </div>
                                                    <div class="m-alert__text">
                                                        <strong>Alert!</strong> You can only withdraw max $3000 in a day.
                                                    </div>

                                                </div>
                                           <% } else{ %>
                                            <% if( ( user.balance > "11" ) ){ %>
                                                <div class="form-group m-form__group">
                                                    <label for="exampleInputEmail1">Amount</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fa fa-dollar-sign"></i></span>
                                                        </div>
                                                        <input name="amount" min="0" type="text" id="requestedAmount" class="form-control m-input" value="">
                                                        <input name="com" type="hidden" id="com">
                                                    </div>
                                                    
                                                    <hr>
                                                    <label for="exampleInputEmail1">Bitcoin</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fab fa-btc"></i></span>
                                                        </div>
                                                        <input name="btc" type="hidden" id="btcValForDb" class="form-control m-input">
                                                        <input type="text" id="btcvalue" class="form-control m-input" value="" disabled="">
                                                    </div>
                                                    <hr>
                                                    <label for="exampleInputEmail1">Wallet Address</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fa fa-wallet"></i></span>
                                                        </div>
                                                        <input name="address" type="text" id="btcAddress" class="form-control m-input" value="">
                                                    </div>
                                                    <br>
                                                    <!-- <label for="exampleInputEmail1">One Time Password</label>
                                                    <div class="input-group">
                                                        <input name="otp" type="text" class="form-control m-input" placeholder="Verfication Code (OTP)" aria-describedby="basic-addon2" required>
                                                        <div class="input-group-append"><span class="input-group-text" id="basic-addon2">Get OTP</span></div>

                                                    </div> -->
                                                    <div class="input-group">
                                                        <div class="mt-3" style="width:100%" id="emailMessage"></div>
                                                    </div>

                                                    <div class="form-group m-form__group">
                                                        <div class="form-control-feedback" id="usernameMessage"></div>
                                                    </div>
                                                </div>
                                                <% } else{ %>
                                                    <div class="m-alert m-alert--icon alert alert-warning" role="alert">
                                                        <div class="m-alert__icon">
                                                            <i class="flaticon-danger"></i>
                                                        </div>
                                                        <div class="m-alert__text">
                                                            <strong>Alert!</strong> You can only request for payout if you have more then $11.
                                                        </div>

                                                    </div>
                                                    <% }%>
                                            
                                        </div>
                                        <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                                            <div class="m-form__actions m-form__actions--solid">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <% if( (  user.balance > "11" ) ){  %>
                                                            <button type="submit" id="requestButton" class="btn btn-primary">Request</button>
                                                            <% }  %>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }%>     
                                        </div>
                                        
                                    </form>

                                    <!--end::Form-->
                            </div>

                            <!--end::Portlet-->
                        </div>
                        
                        <% } else{ %>
                            <div class="col-lg-3"></div>
                            <div class="col-lg-6">
                                    <div class="m-alert m-alert--outline alert alert-accent" role="alert">
                                             <%= userStatus.message  %>
                                        </div>
                            </div>
                            <% } %>
                    
                    </div>
                </div>
            </div>
        </div>

        <!-- end:: Body -->
        <% include ../partials/footer.ejs %>


            <script>
                $(document).ready(function() {

                    var roiStatus = $('#roiStatus').val();
                    var totalRoi = $('#totalRoi').val();
                    var balance = $('#accountBalance').val();
                    var userLimit = $('#userLimit').val();

                    var minPayout = 0;
                    console.log(typeof roiStatus);
                    
                    if (roiStatus == "close" ) {
                        balance = balance - totalRoi;
                        message = '<div class="m-alert m-alert--outline alert alert-accent alert-dismissible fade show" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>'
													+$('#userMessage').val()+'</div>'
                         $('#reqStatusNeg').html(message);  
                         $("#roiBlockDiv1").show(); 
                         $("#roiBlockDiv2").show(); 
                        }

                    if (userLimit > 3000) {
                        minPayout = 10;
                    }else{
                        minPayout = 10;
                    }


                    console.log("Roi Status : "+roiStatus);
                    
                    console.log('bal' + balance);

                    var btc = '';
                    $.get("https://api.cryptonator.com/api/ticker/btc-usd", function(data, status) {
                        btc = data.ticker['price'];
                    });

                    var com = 0;
                    var convertedCost = 0;
                    var total;

                    $("#requestedAmount").keyup(function() {
                        var req = $("#requestedAmount").val();

                        com = req * (10 / 100);
                        $("#com").val(com);

                        toAllow = balance - (balance * 0.10);
                        total = parseFloat(req) + parseFloat(com);

                        console.log(balance - (balance * 0.90));

                        convertedCost = req / btc;

                       if (req >= minPayout) {
                        if (total <= balance) {
                            $("#requestButton").removeAttr('disabled');
                            $('#usernameMessage').parent().removeClass('has-danger');
                            $('#usernameMessage').parent().addClass('has-info');
                            $('#usernameMessage').html('<span class="m--font-info">Commision : $' + com.toFixed(2) + ' for payout request.</span> <br>  <span class="m--font-success">Total amount : <b>' + total.toFixed(2) + '</b></span>');

                            $('#btcvalue').val(convertedCost.toFixed(4));
                            $('#btcValForDb').val(convertedCost.toFixed(4));
                        } else {
                            $("#requestButton").prop("disabled", true);
                            $('#usernameMessage').parent().removeClass('has-danger');
                            $('#usernameMessage').parent().addClass('has-info');
                            $('#usernameMessage').html('<span class="m--font-warning">Max Payout Limit: $' + toAllow + '</div>');
                        }   
                       }else{
                        $("#requestButton").prop("disabled", true);
                            $('#usernameMessage').parent().removeClass('has-danger');
                            $('#usernameMessage').parent().addClass('has-info');
                            $('#usernameMessage').html('<span class="m--font-warning">Min Payout Limit: $' + minPayout + '</div>');
                       } 
                    });

                });

                var getOTP = function getOTP() {

                    var request = $.ajax({
                        url: "/user/getOTP",
                        type: "POST",
                        data: {
                            purpose: "withdraw"
                        },
                        dataType: 'json',
                    });

                    request.done(function(msg) {
                        refrer = JSON.stringify(msg);
                        ref = JSON.parse(refrer);
                        if (ref['res'] == 'yes') {
                            $('#emailMessage').html('<div class="m-alert m-alert--outline m-alert--outline-2x alert alert-info alert-dismissible fade show" role="alert">' +
                                '<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>' +
                                '<strong>Success!</strong> OTP sent by email.</div>');
                        } else {
                            $('#emailMessage').html('<div class="m-alert m-alert--outline m-alert--outline-2x alert alert-danger alert-dismissible fade show" role="alert">' +
                                '<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>' +
                                '<strong>Error!</strong> Email is not sending.</div>');
                        }
                    });

                    request.fail(function(jqXHR, textStatus) {
                        alert("Request failed: " + textStatus);
                    });
                };

                $('#basic-addon2').click(function() {
                    getOTP();
                });
            </script>

            <script>
                $(document).ready(function() {
                    $("#wallet-menu").addClass('m-menu__item--active  m-menu__item--active-tab');
                });
            </script>
    </body>
</html>
